@{
    ViewData["Title"] = "Home";
}

<div class="text-center mt-5">
    <h1 class="display-4">
        <i class="bi bi-building text-primary"></i>
        Customer Management System
    </h1>
    <p class="lead mt-3">Manage your customers efficiently</p>
    
    <div class="mt-5">
        <a href="/Customer" class="btn btn-primary btn-lg">
            <i class="bi bi-people"></i> View Customers
        </a>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <i class="bi bi-person-plus display-4 text-primary"></i>
                <h5 class="card-title mt-3">Add Customers</h5>
                <p class="card-text">Easily add new customer records</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <i class="bi bi-pencil-square display-4 text-primary"></i>
                <h5 class="card-title mt-3">Edit Information</h5>
                <p class="card-text">Update customer details anytime</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <i class="bi bi-trash display-4 text-primary"></i>
                <h5 class="card-title mt-3">Delete Records</h5>
                <p class="card-text">Remove outdated customer data</p>
            </div>
        </div>
    </div>
</div>
